@{
    ViewData["Title"] = "Teacher infomation";
}
@model Teacher

<h1>Teacher infomation</h1>
<p>Teacher name: @Model.Name</p>
<p>Teacher surname: @Model.Surname</p>
<p>Teacher age: @Model.DateOfBirth</p>
<p>Teacher gender: @Model.Gender</p>
<p>Teacher Email: @Model.Email</p>
