@{
    ViewData["Title"] = "Student infomation";
}
@model Student

<h1>Student infomation</h1>
<p>Student name: @Model.Name</p>
<p>Student surname: @Model.Surname</p>
<p>Student age: @Model.DateOfBirth</p>
<p>Student gender: @Model.Gender</p>
<p>Student Year: @Model.Year</p>
<p>Student Email: @Model.Email</p>
